h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2.2em;
}
h3 {
    font-size: 1.9em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.3em;
}
h6 {
    font-size: 1.1em;
}
a {
    text-decoration: none;
    &:visited {
        text-decoration: none;
    }
}
p {
    margin: 10px 0;
}
code {
    background: rgba(38, 38, 38, 0.9);
    font-family: Consolas,Monaco,Lucida Console,DejaVu Sans Mono,Courier New,monospace,sans-serif;
    font-size: 0.7em;
    padding: 2px 4px;
}
