@font-face {
    font-family: 'Blizzard';
    src: url(../assets/blizzard-regular.woff);
}
@font-face {
    font-family: 'Blizzard';
    src: url(../assets/blizzard-light.woff);
    font-weight: 100;
}
@font-face {
    font-family: 'Blizzard';
    src: url(../assets/blizzard-regular.woff);
    font-weight: 300;
}
