$header-font-stack: "Blizzard", arial, sans-serif;
$body-font-stack: "Blizzard", arial, sans-serif;
$nav-caps-font-stack: "Lucida Sans Unicode", "Lucida Grande", arial, sans-serif;


// Colors
$link-color: #fff;
$main-bg-color: #0f2a48;
$menu-link-color: #00b6ff;
