<li class="item explore">
    <a ng-click="toggleMenu()">Explore</a>
    <div class="explore-menu ng-hide">
        <div class="explore-top grid">
            <ul class="explore-nav">
                <li class="nav-item">
                    <a href="http://us.battle.net/">Battle.net Home</a>
                </li>
                <li class="nav-item">
                    <a href="https://us.battle.net/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a href="https://us.battle.net/account/management/">Account</a>
                </li>
                <li class="nav-item">
                    <a href="http://us.battle.net/support/">Support</a>
                </li>
            </ul>
            <div class="explore-more">
                <h3 class="explore-title">More</h3>
                <ul class="explore-list">
                    <li class="list-item">
                        <a href="http://us.battle.net/what-is/">What is Battle.net?</a>
                    </li>
                    <li class="list-item">
                        <a href="https://us.battle.net/account/parental-controls/">Parental Controls</a>
                    </li>
                    <li class="list-item">
                        <a href="http://us.battle.net/security/">Account Security</a>
                    </li>
                    <li class="list-item">
                        <a href="http://jobs.blizzard.com">Work At Blizzard</a>
                    </li>
                    <li class="list-item">
                        <a href="https://us.battle.net/account/support/password-reset.html">Can't log in?</a>
                    </li>
                    <li class="list-item">
                        <a href="https://us.battle.net/account/download/">Game Client Downloads</a>
                    </li>
                    <li class="list-item">
                        <a href="https://us.battle.net/account/management/claim-code.html">Redeem Codes</a>
                    </li>
                    <li class="list-item">
                        <a href="http://us.battle.net/games/classic">Classic Games</a>
                    </li>
                </ul>
            </div>
            <a class="explore-app" href="http://us.battle.net/en/app/">
                <div class="explore-image"></div>
                <div class="explore-tagline">
                    Get the desktop app for Battle.net
                </div>
            </a>
        </div>
        <ul class="explore-bottom">
            <li class="explore-game">
                <a href="http://us.battle.net/wow/" class="game wow">
                    <div class="game-caption">World of Warcraft&reg;</div>
                </a>
            </li>
            <li class="explore-game">
                <a href="http://us.battle.net/d3/" class="game d3">
                    <div class="game-caption">Diablo&reg; III</div>
                </a>
            </li>
            <li class="explore-game">
                <a href="http://us.battle.net/sc2/" class="game sc2">
                    <div class="game-caption">StarCraft&reg; II</div>
                </a>
            </li>
            <li class="explore-game">
                <a href="http://us.battle.net/hearthstone/" class="game hearthstone">
                    <div class="game-caption">Hearthstone<sup>TM</sup></div>
                </a>
            </li>
            <li class="explore-game">
                <a href="http://www.heroesofthestorm.com/en-us" class="game heroes">
                    <div class="game-caption">Heroes of the Storm<sup>TM</sup></div>
                </a>
            </li>
            <li class="explore-game">
                <a href="http://us.battle.net/overwatch/" class="game overwatch">
                    <div class="game-caption">Overwatch<sup>TM</sup></div>
                </a>
            </li>
        </ul>
    </div>
</li>
